.wrapper {
    border-bottom: 1px solid rgba(145, 158, 171, 0.2);
    width: 100%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: var(--text-1);
}

.navigation {
    width: var(--contentWidth-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.navigation img {
    margin-top: 10px;
}

.navList {
    display: flex;
    gap: 24px;
    transition: all 0.2s ease-in-out;
}

.navItem:hover {
    color: var(--primary);
}

.active {
    color: var(--primary);
}